#include <input/processors.dtsi>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors/runtime_macro.dtsi>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

&mt {
    flavor = "balanced";
    quick-tap-ms = <0>;
};

&lt {
    flavor = "balanced";
    quick-tap-ms = <200>;
};

/ {
    // コンボは zmk,combos ではなく runtime-combo モジュールで定義する。
    // zmk,combos はコンパイル時に固定されて DYA Studio から編集できないため。
    // ここに書いた値は「工場出荷値」で、DYA Studio で上書きすると
    // そちらが優先され、Reset to Default で戻せる
    runtime_combo_defaults {
        compatible = "cormoran,runtime-combo-defaults";

        mouse_l {
            slot = <0>;
            bindings = <&mkp LCLK>;
            key-positions = <19 20>;
            require-prior-idle-ms = <125>;
            display-name = "Mouse-L";
        };

        mouse_r {
            slot = <1>;
            bindings = <&mkp RCLK>;
            key-positions = <20 21>;
            require-prior-idle-ms = <125>;
            display-name = "Mouse-R";
        };

        l_alt_l_arrow {
            slot = <2>;
            bindings = <&kp LA(LEFT_ARROW)>;
            key-positions = <31 32>;
            require-prior-idle-ms = <125>;
            display-name = "L-Alt + L-Arrow";
        };

        l_alt_up_arrow {
            slot = <3>;
            bindings = <&kp LA(UP_ARROW)>;
            key-positions = <7 8>;
            require-prior-idle-ms = <125>;
            display-name = "L-Alt + UP-Arrow";
        };
    };

    macros {
        to_layer_0: to_layer_0 {
            compatible = "zmk,behavior-macro-one-param";
            #binding-cells = <1>;
            bindings = <&to 0 &macro_param_1to1 &kp MACRO_PLACEHOLDER>;
            label = "TO_LAYER_0";
        };
    };

    behaviors {
        lt_to_layer_0: lt_to_layer_0 {
            compatible = "zmk,behavior-hold-tap";
            label = "LAYER_TAP_TO_0";
            bindings = <&mo>, <&to_layer_0>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
        };
    };

keymap {
        compatible = "zmk,keymap";
        default-layer0 {
            bindings = <
                &kp TAB    &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y    &kp U    &kp I    &kp O    &kp P    &kp DELETE
                &kp LEFT_CONTROL    &kp A    &kp S    &kp D    &kp F    &kp G    &kp H    &kp J    &kp K    &kp L    &kp MINUS    &kp RIGHT_CONTROL
                &kp LEFT_SHIFT    &lt 4 Z    &kp X    &kp C    &kp V    &kp B    &kp N    &kp M    &kp COMMA    &kp PERIOD    &mo 3    &kp RIGHT_SHIFT
                &kp ESCAPE    &kp LEFT_GUI    &kp LEFT_ALT    &lt 6 INT5    &lt 1 SPACE    &lt 2 INT4    &lt 4 RETURN    &kp BACKSPACE    &kp LEFT    &kp RIGHT
            >;
        };
        symbol-layer1 {
            bindings = <
                &trans    &none    &none    &none    &none    &none    &kp INT3    &kp 34013220    &kp 34013221    &kp 34013222    &kp RIGHT_BRACKET    &kp NON_US_HASH
                &trans    &none    &none    &kp SEMICOLON    &kp SQT    &kp 34013231    &kp LEFT_BRACKET    &kp 34013217    &kp 34013218    &kp 34013219    &kp 34013319    &kp 34013229
                &trans    &none    &none    &none    &none    &none    &kp 34013240    &kp 34013214    &kp 34013215    &kp 34013216    &kp 34013230    &kp SLASH
                &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &kp RIGHT_ALT    &kp EQUAL
            >;
        };
        func-sc-layer2 {
            bindings = <
                &trans    &kp LEFT_GUI    &kp F7    &kp F8    &kp F9    &kp F10    &kp 17235996    &kp 17235974    &kp 17235993    &kp 17235995    &kp 17235987    &kp PAUSE_BREAK
                &trans    &kp LEFT_ALT    &kp F4    &kp F5    &kp F6    &kp F11    &kp 17235997    &mkp MB1    &kp UP    &mkp MB2    &kp 17235977    &kp 17235990
                &trans    &kp LEFT_CONTROL    &kp F1    &kp F2    &kp F3    &kp F12    &kp 17235972    &kp LEFT    &kp DOWN    &kp RIGHT    &trans    &kp PRINTSCREEN
                &trans    &trans    &trans    &trans    &trans    &trans    &kp RETURN    &kp BACKSPACE    &kp HOME    &kp END
            >;
        };
        device-layer3 {
            bindings = <
                &bt BT_CLR    &trans    &trans    &trans    &sys_reset    &bootloader    &bootloader    &sys_reset    &none    &trans    &trans    &trans
                &bt BT_CLR_ALL    &trans    &bt BT_SEL 4    &trans    &trans    &trans    &none    &none    &kp UP    &none    &trans    &trans
                &trans    &trans    &bt BT_SEL 1    &bt BT_SEL 2    &bt BT_SEL 3    &trans    &none    &kp LEFT    &kp DOWN    &kp RIGHT    &trans    &trans
                &trans    &bt BT_SEL 0    &trans    &trans    &trans    &trans    &studio_unlock    &trans    &trans    &trans
            >;
        };
        number-layer4 {
            bindings = <
                &trans    &kp LANG2    &kp LANG1    &trans    &trans    &trans    &kp SQT    &kp KP_N7    &kp KP_N8    &kp KP_N9    &kp KP_FSLH    &kp KP_NLCK
                &trans    &trans    &trans    &trans    &trans    &trans    &kp KP_N0    &kp KP_N4    &kp KP_N5    &kp KP_N6    &kp KP_PLUS    &kp KP_MINUS
                &trans    &trans    &trans    &trans    &trans    &trans    &kp KP_DOT    &kp KP_N1    &kp KP_N2    &kp KP_N3    &kp KP_ASTERISK    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans    &kp KP_N0    &trans    &kp KP_ENTER
            >;
        };
        brank-layer5 {
            bindings = <
                &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
                &none    &none    &none    &none    &none    &none    &none    &none    &none    &none    &trans    &none
                &none    &none    &none    &none    &none    &none    &none    &none    &none    &none
            >;
        };
        mouse-layer6 {
            bindings = <
                &none    &kp LEFT_GUI    &kp HOME    &kp UP    &kp END    &none    &mkp MB3    &kp PAGE_UP    &kp 134676487    &kp PAGE_DOWN    &none    &kp K_APPLICATION
                &trans    &kp LEFT_ALT    &kp LEFT    &kp DOWN    &kp RIGHT    &kp 134676488    &none    &mkp MB1    &kp UP    &mkp MB2    &none    &trans
                &trans    &none    &none    &none    &kp 134676499    &kp 168230934    &none    &kp LEFT    &kp DOWN    &kp RIGHT    &trans    &trans
                &trans    &trans    &trans    &trans    &trans    &trans    &trans    &trans    &kp HOME    &kp END
            >;
        };
    };
};
